.text-white {
    color: #ffffff;
}

.header-logo-img {
    width: 120px;
    height: 31px;
    margin: 16px 28px 16px 0;
    float: left;
}

.header-logo-img:hover{
    cursor: pointer;
}

.theme {
    primary-color: "#1DA57A",
}